
* {
  box-sizing: border-box;
}
.mainWrapper {
  text-align: center;
  padding: 15px;
}

.App-logo {
  width: 214px;
  height: 37px;
}

.header {
  background-color: #fff;
  padding: 15px 0;
  color: white;
}

.category-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

.category-nav li {
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #000;
}

.category-nav li:first-child {
  padding-left: 0;
}


.category-nav li:last-child {
  border-right: none;
  padding-right: 0;
}

.category-nav li  a{
  display: block;
  text-decoration: none;
  color: #999;
}

.product-tile {
  width: 100%;
  text-align: left;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
}

.product-desc {
  font-size: 14px;
}
